.title {
    font-family: 'Oswald', sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 7vw;
}

.text {
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    font-weight: 300;
}

.display-in-line {
    display: flex;
    flex-direction: row;
}
